<html>
    <head>
        <link rel="stylesheet" href='static/style.css' />
    </head>
    <body>
        <h1>Open Web Portal</h1>
        <p>{{links}}</p>
        <ol>
            <!-- For loop logic of jinja template -->
              
            {% for key, value in links.items() %}
                <li>{{key}}</li>
                <label class="switch">
                    <input type="checkbox" value="{{key}}" {% if value["state"] %} checked {% endif %}>
                    <span class="slider round"></span>

                </label>
            {% endfor %}
              
        </ol>
    </body>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var checkboxes = document.querySelectorAll('input[type=checkbox]');
        
        for (var checkbox of checkboxes) {
            checkbox.addEventListener('change', function(event) {
            if (event.target.checked) {
                console.log(`${event.target.value} is checked`);
                fetch('/update/' + event.target.value + '/True')
            } else {
                console.log(`${event.target.value} is unchecked`);
                fetch('/update/' + event.target.value + '/False')
            }
            });
        }
        }, false);
    </script>
</html>