<html>
    <head>
        <link rel="stylesheet" href='static/style.css' />
    </head>
    <body>
        <h1>Open Web Portal</h1>
        <p>{{links}}</p>
        <ol>
            <!-- For loop logic of jinja template -->
              
            {% for key, value in links.items() %}
                <li>{{key}}</li>
                <!-- BOOL -->
                {% if value["type"] == "bool" %}
                    <label class="switch">
                        <input type="checkbox" name="{{key}}" {% if value["value"] == "True" %} checked {% endif %}>
                        <span class="slider round"></span>
                    </label>
                {% endif %}
                <!-- INT -->
                {% if value["type"] == "int" %}
                    <input type="number" name="{{key}}" value="{{value['value']}}">
                {% endif %}

                <!-- STRING -->
                {% if value["type"] == "string" %}
                    <input type="text" name="{{key}}" value="{{value['value']}}">
                {% endif %}

                <!-- Colour -->
                {% if value["type"] == "colour" %}
                    <input type="color" name="{{key}}" value="{{value['value']}}">
                {% endif %}
            {% endfor %}
              
        </ol>
    </body>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var checkboxes = document.querySelectorAll('input[type=checkbox]');
            var intergers = document.querySelectorAll('input[type=number]');
            var strings = document.querySelectorAll('input[type=text]');
            var colours = document.querySelectorAll('input[type=color]');
            
            for (var checkbox of checkboxes) {
                checkbox.addEventListener('change', function(event) {
                    if (event.target.checked) {
                        console.log(event.target.name + " updated to True")
                        fetch('/update/' + event.target.name + '/True')
                    } else {
                        console.log(event.target.name + " updated to False")
                        fetch('/update/' + event.target.name + '/False')
                    }
                });
            }

            for (var integer of intergers) {
                integer.addEventListener('change', function(event) {
                    console.log(event.target.name + " updated to " + event.target.value)
                    fetch('/update/' + event.target.name + '/' + event.target.value)

                });
            }

            for (var string of strings) {
                string.addEventListener('change', function(event) {
                    console.log(event.target.name + " updated to " + event.target.value)
                    fetch('/update/' + event.target.name + '/' + event.target.value)

                });
            }

            for (var colour of colours) {
                colour.addEventListener('change', function(event) {
                    console.log(event.target.name + " updated to " + event.target.value)
                    fetch('/update/' + event.target.name + '/' + event.target.value.replace("#", ""))

                });
            }
        }
        , false);
    </script>
</html>