<html>
    <head>
        <link rel="stylesheet" href="/static/style.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    </head>
    <body>
        <form action="savesettings" method="post" id="form">
            <label class="pixel"><input type="color" class="form-control" id="1" name="1"></label>
            <label class="pixel"><input type="color" class="form-control" id="2" name="2"></label>
            <label class="pixel"><input type="color" class="form-control" id="3" name="3"></label>
            <label class="pixel"><input type="color" class="form-control" id="4" name="4"></label>
            <input type="submit" value="Submit" id="btnSubmit"/>
        </form>
        <script>
            function populate(data) {
                $.each(data, function(key, actualdata){
                $('[name='+key+']', '#form').val(actualdata);
                document.getElementById(key).value = actualdata;
                document.getElementById(key).parentNode.style.backgroundColor = document.getElementById(key).value;
                });
            }
            
            $(document).ready(function(){
                $.getJSON("settings.json", function(data) {
                    populate(data);
                });
            });  

            $(document).on('change', 'input[type=color]', function() {
                this.parentNode.style.backgroundColor = this.value;
            });
    
            $("#form").submit(function(event) {

                /* stop form from submitting normally */
                event.preventDefault();

                /* get the action attribute from the <form action=""> element */
                var $form = $(this),
                url = $form.attr('action');

                /* Send the data using post with element id name and name2*/
                var posting = $.post(url, {
                data:   $("form").serialize()
                //1: $('#1').val(),
                //2: $('#2').val(),
                });

                /* Alerts the results */
                posting.done(function(data) {
                console.log("success");
                });
                posting.fail(function() {
                    console.log("failed");
                });

            });
        </script>
    </body>
</html>